name: CI
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          show-progress: false
      - run: cargo install cargo-lipo
      - run: pod install
      - run: set -o pipefail && xcodebuild -workspace deltachat-ios.xcworkspace -scheme deltachat-ios -destination "generic/platform=iOS Simulator" build CODE_SIGNING_ALLOWED=NO | xcbeautify --renderer github-actions
